[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oura-cdm = {editable = true, path = "."}

[dev-packages]
pytest = "*"
streamlit = "*"
altair = "*"

[requires]
python_version = "3.9"
